@charset "UTF-8"

//- WEBSITE FONTS
//==========================================================================
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin-ext")

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&amp;subset=latin-ext")

@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

=font-material-icons
  font-family: "Material Icons"

=font-montserrat
  font-family: "Montserrat", sans-serif

=font-georgia
  font-family: "Georgia", "Times New Roman", serif

=font-opensans
  font-family: "Open Sans", sans-serif

body
  font-family: "Open Sans", sans-serif

  +rem(font-size, 14px)

  line-height: 1.2
